a {
    color: #ebcb8b;
}

#posts-box {
    background-color: #434c5e;
    outline-color: #5e81ac;
    outline-style: dotted;
    padding: 8px;
}

.post {
    background-color: #3b4252;
    padding: 8px 16px 8px 16px;
    margin-bottom: 16px;
}

#textbox {
    width: 50%;
    height: 250px;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}