#posts-box {
    padding: 8px;
}

.post {
    font-size: 18px;
    box-shadow: 0px 0px 2px 1px #888;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    margin-bottom: 16px;
}

.post h1 {
    text-align: left;
}

.textbox {
    width: 200px;
}

#textbox {
    width: 320px;
    height: 250px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    max-height: 800px;
}

iframe {
    max-width: 100%;
}