body {
    text-align: center;
}

#download-box {
    text-align: left;
    background-color: #3b4252;
    border: 2px dotted #5e81ac;
    border-radius: 4px;
    padding: 8px;
}

#download-box a {
    color: #ebcb8b;
}

#download-list {
    list-style-type: none;
    padding: 6px 12px;
}

#download-list li {
    background-color: #434c5e;
    padding: 16px 24px;
    margin-bottom: 16px;
}

#download-list .date {
    color: #a0a7b4;
    display: inline;
}