body {
    text-align: center;
}

#download-box {
    text-align: left;
    background-color: #3b4252;
    outline-color: #5e81ac;
    outline-style: dotted;
    padding: 8px;
}

#download-box a {
    color: #ebcb8b;
}

#download-list {
    background-color: #434c5e;
    margin-bottom: 16px;
    list-style: none;
}